.login-container {
  margin-top: 4em;
  padding: 4em 8% 7em 8%;
  opacity: 1;
  background-color: #fff;
  border: 1px solid #bd96eb;
  border-radius: 2%;
  z-index: 3;
}

.forgot-password--link {
  font-size: 0.8em;
  color : #bd96eb;
  text-decoration: none;
}

.forgot-password--link:hover {
  color : #79589F;
  text-decoration: none;
}