.login-main--container {
  background-image: url('../../../src/assets/images/mother-day-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 95vh;
}

.login-cover {
  background-color: rgba(68, 51, 87, 0.5);
  height: 95vh;
  background-blend-mode: overlay;
}

.login-container-form {
  margin-top: 3em;
  padding: 6em 16% 10em 12%;
  border: 1px solid #bd96eb;
  border-radius: 3%;
  background-color: rgba(255, 255, 255, 0.9);
}

.forgot-password--link {
  font-size: 0.8em;
  color : #bd96eb;
  text-decoration: none;
}

.forgot-password--link:hover {
  color : #79589F;
  text-decoration: none;
}